*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
}

canvas{
  padding-left: 0;
  padding-right: 0;
  display: block;
  border: 1px black solid;
  width: 700px;
  height: 700px;
}

#main{
  display: flex;
}